<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:forceQueryable="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="hlsdk-portable"
        tools:targetApi="r">

        <meta-data
            android:name="su.xash.engine.gamedir"
            android:value="valve" />

        <activity
            android:name="su.xash.hlsdk.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="su.xash.engine.MOD" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="su.xash.engine" />
        <package android:name="su.xash.engine.test" />
    </queries>
</manifest>