// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON                    ICON                    "res/doom.ico"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CRASHHANDLER DIALOGEX 0, 0, 310, 208
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Skin Deep - Crash Handler"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN    
    PUSHBUTTON      "SEND LOG",IDC_COPY,6,187,100,20    
    PUSHBUTTON      "Break in Debugger",IDC_BREAK,110,192,70,14
	PUSHBUTTON		"Save Crash Dump",IDC_DUMP,185,192,70,14
    DEFPUSHBUTTON   "Done", IDOK, 262, 192, 40, 14
    CTEXT           "There was a catastrophic error.\nPlease click SEND LOG so we can try to fix it.",IDC_STATIC,42,6,222,18
    EDITTEXT        IDC_STACK,6,30,294,156,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    ICON            "",IDC_ERRORICON,6,6,20,20
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_CRASHHANDLER, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 201
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_CRASHHANDLER AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

