
[Desktop Entry]
Name=Serious Sam The First Encounter
Type=Application
Comment=Linux port of Serious Sam Classic The First Encounter
Exec=serioussam
TryExec=serioussam
Icon=serioussam
Categories=Application;Game;
