# windows files
Debug
Release
Debug-2006
Release-2006
*.suo
*.ncb
Botrix.vcxproj.user
*sdf
Botrix.VC.VC.opendb
Botrix.VC.db
*.pdb
#*.dll
#botrix.so
#libbotrix.so
#botrix.dylib
#libbotrix.dylib
winbuild
.vs

# linux files
build
good/build
CMakeLists.txt.user
good/CMakeLists.txt.user

# macos files
.DS_Store
