[Desktop Entry]
Name=ioquake3
Exec=ioquake3 --uri %u
Icon=quake3
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Game;ActionGame;
MimeType=x-scheme-handler/quake3;
X-SuSE-translate=false
