#include <windows.h>
#include "resource.h"
#include "../version.h"

#if _MSC_VER > 1400
IDI_ICON1	ICON	DISCARDABLE	"icon.ico"
#else
IDI_ICON1	ICON	DISCARDABLE "icon9x.ico"
#endif

1 VERSIONINFO
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileVersion", DOTVERSIONSTR_NOREV
			VALUE "ProductName", GAMENAME
			VALUE "ProductVersion", DOTVERSIONSTR_NOREV
#ifdef HG_REVISION_HASH_STRING
			VALUE "Comments", HG_REVISION_HASH_STRING
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04E4
	END
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_IWADDIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 5
        RIGHTMARGIN, 205
        TOPMARGIN, 7
        BOTTOMMARGIN, 179
    END

    IDD_CRASHDIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 4
        RIGHTMARGIN, 408
        TOPMARGIN, 4
        BOTTOMMARGIN, 303
        HORZGUIDE, 49
        HORZGUIDE, 242
    END

    IDD_CRASHOVERVIEW, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 384
        TOPMARGIN, 7
        BOTTOMMARGIN, 257
    END

    IDD_CRASHDETAILS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 392
        TOPMARGIN, 7
        HORZGUIDE, 76
    END

    IDD_ERRORPANE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 183
        TOPMARGIN, 7
        BOTTOMMARGIN, 21
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#define MAKE_STRING_(a) #a
#define MAKE_STRING(a,b) MAKE_STRING_(a b)

IDD_IWADDIALOG DIALOGEX 0, 0, 212, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Select an IWAD to use"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LISTBOX         IDC_IWADLIST,5,25,200,124,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Don't ask me this again",IDC_DONTASKIWAD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,61,153,89,10
    DEFPUSHBUTTON   "OK",IDOK,5,165,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,155,165,50,14
    LTEXT           MAKE_STRING(RCGAMENAME,found more than one IWAD present.),IDC_STATIC,5,5,140,8
    LTEXT           "Select from the list below to determine which one to use:",IDC_STATIC,5,15,200,8
END

IDD_CRASHDIALOG DIALOGEX 0, 0, 415, 308
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION MAKE_STRING(RCGAMENAME,Very Fatal Error)
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    CONTROL         "",IDC_CRASHTAB,"SysTabControl32",WS_TABSTOP,4,4,404,280
    PUSHBUTTON      "Save Report to Disk...",IDC_SAVEREPORT,242,289,91,14
    PUSHBUTTON      "&Discard Report",IDNO,338,289,70,14
END

IDD_CRASHOVERVIEW DIALOGEX 1, 13, 400, 264
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_CRASHINFO,7,126,377,90,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
    CONTROL         "",IDC_PLEASETELLUS,"RichEdit20A",ES_MULTILINE | ES_READONLY,7,50,377,54,WS_EX_TRANSPARENT
    LTEXT           "(Optional) To help diagnose the cause of this error, please describe what you were doing when the error occured. If you were playing with custom wads, please also indicate where to obtain them:",IDC_STATIC,7,108,377,16,0,WS_EX_TRANSPARENT
//    CONTROL         131,IDC_DEADGUYVIEWER,"Static",SS_BITMAP,345,7,23,26
    CONTROL         "",IDC_CRASHHEADER,"RichEdit20A",ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY,18,13,306,25,WS_EX_TRANSPARENT
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,0,42,407,1
    GROUPBOX        "Summary",IDC_STATIC,7,223,377,34
    LTEXT           "Static",IDC_CRASHSUMMARY,14,233,363,20
END

IDD_CRASHDETAILS DIALOGEX 0, 0, 400, 164
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "The error report contains these files:",IDC_STATIC,7,5,119,8
    LTEXT           "The selected file contains this information:",IDC_STATIC,7,74,136,8
    RTEXT           "Static",IDC_CRASHFILESIZE,337,74,55,8
    LISTBOX         IDC_CRASHFILES,7,15,385,53,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_CRASHFILECONTENTS,"RichEdit20A",ES_MULTILINE | ES_READONLY | WS_BORDER | WS_VSCROLL | WS_TABSTOP,7,83,385,174
END

IDD_ERRORPANE DIALOGEX 0, 0, 190, 28
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Quit",IDOK,133,7,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

//IDB_DEADGUY             BITMAP                  "deadguy.bmp"
