[submodule "3rdparty/yapb"]
	path = 3rdparty/yapb
	url = https://github.com/yapb/yapb
[submodule "3rdparty/mainui_cpp"]
	path = 3rdparty/mainui_cpp
	url = https://github.com/Velaron/mainui_cpp
[submodule "3rdparty/ReGameDLL_CS"]
	path = 3rdparty/ReGameDLL_CS
	url = https://github.com/Velaron/ReGameDLL_CS
[submodule "3rdparty/miniutl"]
	path = 3rdparty/miniutl
	url = https://github.com/FWGS/MiniUTL
