# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user
*.sdf
*.opendb
*.pdb
*.iobj
*.lastbuildstate
*.tlog
*.log
*.suo
*.ipch
*.ipdb
*.exp
*.idb
*.ilk
*.autosave

android/app/src/main/assets
*-build
*admob-id.xml

build/

.vscode/

.gradle/
.externalNativeBuild
.cxx/
.idea/
local.properties
.project
.classpath
.gradle
.settings
release/
*.tasks
regamebuild/
.vs/